<nav class="barra-navegacion">
  <div class="fila-navegacion fila-superior">
    <a href="/" class="logo-navegacion">
      <img src="/frontend/recursos/iconos/logoV2.png" alt="SOLO CULATAS" class="logo">
    </a>
    <div class="contenedor-busqueda">
      <input type="text" id="buscar" placeholder="Buscar Culatas" class="entrada-busqueda">
      <img src="/frontend/recursos/iconos/lupa.png" alt="Buscar" class="icono-busqueda">
    </div>
    <div class="menu-hamburguesa" id="menu-toggle">
      <img src="/frontend/recursos/iconos/menu.png" alt="Menú" id="menu-icon">
    </div>
  </div>
  <div class="fila-navegacion fila-inferior">
    <ul id="enlaces-navegacion" class="enlaces-navegacion">
      <li><a href="/">INICIO</a></li>
      <li><a href="/culatas">CULATAS</a></li>
      <li><a href="/nosotros">NOSOTROS</a></li>
      <li><a href="/contacto">CONTACTO</a></li>
    </ul>
    <!-- Botón de cerrar el menú -->
    <div class="cerrar-menu" id="close-menu">
      <img src="/frontend/recursos/iconos/cerrar.png" alt="Cerrar Menú" id="close-icon">
    </div>
  </div>
    <!-- Línea de separación debajo del navbar -->
  <div class="linea-navegacion"></div>
</nav>