/* Fuentes Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('recursos/fuentes/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('recursos/fuentes/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Fuentes Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('recursos/fuentes/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('recursos/fuentes/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('recursos/fuentes/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;  /* Tamaño base */
    color: #343A40;  /* Gris oscuro para el texto */
    background-color: #F8F9FA;  /* Gris claro para fondo */
}

/* Títulos principales con Open Sans */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #343A40;  /* Gris oscuro para los títulos */
}

/* Subtítulos con Open Sans SemiBold */
h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;  /* SemiBold */
}

/* Para los enlaces */
a {
    font-family: 'Montserrat', sans-serif;
    color: #0071CF;  /* Azul para enlaces */
    text-decoration: none;
}

/* Botones */
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0071CF;  /* Azul */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Botones Hover */
button:hover {
    background-color: #0056b3;
}